body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #36393f; /* same as your main app bg */
}

html, body, #root {
  margin: 0 !important;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background-color: #36393f; /* same as your main app bg */
  overflow: hidden; /* Optional: prevent scrollbars */
  color: #36393f;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
